.size1{
	width: 1920px;
	height: 1187px;
	/*position: absolute;*/
}
.logo{
	padding-left: 132px;
	padding-top: 67px;
}
ul{
	padding-left: 115px;
	display: inline-block;
	font-size: 20px;
	font-family: Lato;
	font-weight: bold;
	color: #3D37F1;
}
nav{
	height: 24px;
	/*padding-left: 115px;*/
	display: inline-block;
}
li{
	display: inline-block;
}
.portfolio{
	padding-left: 50px;
}
.about{
	padding-left: 50px;
}
.blog{
	padding-left: 50px;
}
.contact{
	padding-left: 50px;
}
.work{
	/*padding-left: 305px;*/
	padding-top: 373px;
	position: absolute;
}
.h1{
	width: 600px;
	height: 203px;
	margin-left: 132px;
	margin-top: 285px;
	font-size: 78px;
	font-family: Lato;
	font-weight: bold;
}
h2{
	font-size: 22px;
	font-family: Roboto;
	font-weight: Regular;
	margin-left: 132px;
}
.size2{
	width: 1920px;
	height: 1432px;
	position: absolute;
	background-color: #F8F8F8;
}
h3{
	font-size: 20px;
	font-family: Lato;
	font-weight: bold;
	margin-left: 124px;
	margin-top: 66px;
	color: #3D37F1;
}
h4{
	font-size: 40px;
	font-family: Lato;
	font-weight: Regular;
	margin-left: 124px;
	margin-top: 33px;
}
.line1{
	font-size: 18px;
	font-family: Roboto;
	font-weight: Regular;
	color: #747474;
	margin-left: 155px;
	margin-top: 48px;
}
.line2{
    font-size: 18px;
	font-family: Roboto;
	font-weight: Regular;
	color: #747474;
	margin-left: 117px;
}
.line3{
    font-size: 18px;
	font-family: Roboto;
	font-weight: Regular;
	color: #747474;
	margin-left: 425px;
}
.computer{
	margin-top: 33px;
	margin-left: 103px;
	height: 451px;
	width: 370px;
	background-color: #FBBA77;
	position: absolute;
}
.computer1{
	margin-left: 58.6px;
	margin-top: 37px;
}
h5{
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	font-weight: Regular;
	margin-left: 52.6px;
	margin-top: 94.5px;
}
h6{
	color: #FFFFFF;
	margin-left: 50px;
	margin-top: 26.6px;
}
h7{
	color: #FFFFFF;
	margin-left: 45px;
	margin-top: 26.6px;
}
.brush{
	height: 451px;
	width: 370px;
	background-color: #41EAE3;
	margin-left: 502px;
	margin-top: 33px;
	position: absolute;
}
.brush1{
	margin-left: 31.6px;
	margin-top: 37px;
}
.design{
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	font-weight: Regular;
	margin-left: 39.6px;
	margin-top: 99.8px;
}
.phone{
	height: 451px;
	width: 370px;
	background-color: #69529F;
	margin-left: 902px;
	margin-top: 33px;
	position: absolute;
}
.phone1{
	margin-top: 39px;
	margin-left: 44.5px;
	/*position: absolute;*/
}
.ui{
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	margin-left: 41.6px;
	margin-top: 90.6px;
	/*position: absolute;*/
}
.app{
	margin-top: 551px;
	margin-left: 103px;
	height: 451px;
	width: 370px;
	background-color: #4386D2;
	position: absolute;
}
.app1{
	margin-left: 33px;
	margin-top: 16.1px;
}
.ui1{
	margin-left: 39.6px;
	margin-top: 123px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	font-weight: Regular;
}
.site{
	height: 451px;
	width: 370px;
	background-color: #A5A2F6;
	margin-left: 502px;
	margin-top: 551px;
	position: absolute;
}
.site1{
	margin-left: 21px;
	margin-top: 29px;
}
.site2{
	margin-left: 39.6px;
	margin-top: 125.5px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	font-weight: Regular;
}
.repair{
	height: 451px;
	width: 370px;
	background-color: #FF8088;
	margin-left: 902px;
	margin-top: 551px;
	position: absolute;
}
.repair1{
	margin-left: 31px;
	margin-top: 29px;
}
.repair2{
	margin-left: 37.6px;
	margin-top: 115.9px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Lato;
	font-weight: Regular;
}